*:not(svg){
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.header {
    display: flex;
    font-size: 13px;
    align-items: center;
}

.page__header{
    justify-content: flex-end;
    padding: 6px;
    margin: 4px 2px;
}


.button {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 32px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.button_primary{
    background-color: #1a73e8;
    border: 1px solid transparent;
    color: white;
}

.button_primary:hover{
    background: #2b7de9;
    color: white;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.header__app-icon{
    margin-left: 15px;
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.header__app-icon:hover{
    width: 24px;
    height: 24px;
    padding: 8px;
    color: rgba(60, 64, 67, 0.80);
    border-radius: 100%;
}

.header__link{
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.87);
}

.header__button{
    margin: 0 8px;
    padding: 0 23px;
}

/* Main */


.main{
    text-align: center;

}

.main > img{
    padding-top: 31px;
}

.main__wrapper{
    padding: 20px 20px 16px;
}

.main__search_icon{
    width: 20px;
    height: 20px;
    color: #9aa0a6;
    fill: currentColor;
}

.main__search_wrapper{
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 46px;
    max-width: 584px;
    align-items: center;
    margin: auto;
    margin-top: 6px;
    padding-left: 14px;
    padding-right: 8px;
    margin-bottom: 18px;
}

.main__search_wrapper:focus-within,
.main__search_wrapper:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}


.main__search{
    width: 100%;
    margin-left: 13px;
    border: none;
    outline: none;
}

.main section{
    font-size: 13px;
}

.main__image_wrapper{
    max-height: 92px;
    max-width: 290px;
    height: calc(100vh -560px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
