*:not(svg) {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }
  
  .page {
    min-width: 320px;
    max-width: 1100px;
  }

/* header */
.page__header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 6px;
}

.header {
  display: flex;
  font-size: 13px;
  align-items: center;
  top: 20px;
  height: 400px;
  width: 100%;
}

.page__header {
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 6px 8px 6px 15px;
}

.header__image-wrapper {
    display: flex;
    width: 150px;
    height: 37px;
    align-items: center;
    padding: 4px 20px 0 8px;

  }

.header__logo{
    display: block;
    width: 90px;
    height: 30px;
}

.header__side-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

  .button {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 32px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  .button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .button--primary {
    background: #1a73e8;
    border: 1px solid transparent;
    color: white;
  }
  
  .button--primary:hover {
    background: #2b7de9;
    color: white;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
      0 1px 3px 1px rgba(66, 133, 244, 0.15);
  }


  .header__search-icon {
    width: 20px;
    height: 20px;
    color: #4285f4;
    fill: currentColor;
  }
  
  .header__search-wrapper {
    display: flex;
    position: absolute;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 690px;
    align-items: center;
    margin-top: 5px;
    padding-left: 14px;
    padding-right: 8px;
    margin-bottom: 18px;
    flex-flow: row-reverse;
    top: 0;
    left: 150px;
  }
  
  .header__search-wrapper:focus-within,
  .header__search-wrapper:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
  }
  
  .header__search {
    width: 622px;
    height: 39px;
    font-size: 16px;
    margin-right: 13px;
    border: none;
    outline: none;
  }

  .header__sign-in-wrapper {
    display: flex;
  }
  
  .header__app-icon {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
  }
  
  .header__app-icon:hover {
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 100%;
  }
  
  .header__link {
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .header__button {
    margin: 0 8px;
    padding: 0 23px;
  }




/* main */
  .main {
    clear: both;
    position: absolute;
    text-align: left;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .main__top{
    position: absolute;
    left: 100px;
    width: 500px;
    height: 40px;
    padding-top: 10px;
  }

  .link{
    text-decoration: none;
    color: #5f6368;
  }

  .menu-item__icon{
    width: 16px;
    padding-bottom: 2px;
    color: #5f6368;
    fill: currentColor;

  }
  
  .main__wrapper {
    padding: 30px 500px 10px 100px;
  }
  

  .gcse-searchresults-only{
    font-weight: normal;
    font-size: 20px;
    font-family: Arial, sans-serif;
  }



/* Footer */

.page__footer {
  position: absolute;
  top: 2000px;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.footer__country {
    display: flex;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    background-color: #f2f2f2;
  }
  
  .footer__menu-wrapper {
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    background-color: #f2f2f2;
    justify-content: space-between;
  }
  
  .footer__menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer__link {
    padding: 15px;
  }
  
  .footer__link .link {
    color: rgba(0, 0, 0, 0.54);
  }

  .gcsc-branding-img-noclear{
      display: none;
  }





  @media all and (min-width: 1001px) and (max-width: 1100px){
    .header__search-wrapper {
      display: flex;
      position: absolute;
      border: 1px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
      height: 44px;
      width: 550px;
      align-items: center;
      margin-top: 5px;
      padding-left: 14px;
      padding-right: 8px;
      margin-bottom: 18px;
      flex-flow: row-reverse;
      top: 0;
      left: 150px;
    }

    .main {
      display: flex;
      clear: both;
      position: absolute;
      text-align: left;
      top: 100px;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .gsc-resultsRoot gsc-tabData gsc-tabdActive{
      max-height: 1100px !important;
    }
  
    .main__top{
      position: absolute;
      left: 10px;
      width: 500px;
      height: 40px;
      padding-top: 10px;
    }

    .main__wrapper {
      padding: 30px 180px 10px 10px;
    }

    .page__footer {
      position: absolute;
      top: 1900px;
      left: 0;
      right: 0;
      bottom: 0;
      
    }
  }

  @media all and (min-width: 900px) and (max-width: 1000px){

    .header__search-wrapper {
      display: flex;
      position: absolute;
      border: 1px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
      height: 44px;
      width: 550px;
      align-items: center;
      margin-top: 5px;
      padding-left: 14px;
      padding-right: 8px;
      margin-bottom: 18px;
      flex-flow: row-reverse;
      top: 0;
      left: 150px;
    }

    .main {
      clear: both;
      position: absolute;
      text-align: left;
      top: 100px;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .gsc-resultsRoot gsc-tabData gsc-tabdActive{
      max-height: 1100px !important;
    }
  
    .main__top{
      position: absolute;
      left: 10px;
      width: 500px;
      height: 40px;
      padding-top: 10px;
    }

    .main__wrapper {
      padding: 30px 180px 10px 10px;
    }

    .page__footer {
      position: absolute;
      top: 1900px;
      left: 0;
      right: 0;
      bottom: 0;
      
    }
  }
  
  @media all and (min-width: 800px) and (max-width: 899px){
    
    .header__search {
      width: 290px;
      height: 39px;
      font-size: 16px;
      margin-right: 13px;
      border: none;
      outline: none;
    }

    .header__search-wrapper {
      display: flex;
      position: absolute;
      border: 1px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
      height: 44px;
      width: 350px;
      align-items: center;
      margin-top: 5px;
      padding-left: 14px;
      padding-right: 8px;
      margin-bottom: 18px;
      flex-flow: row-reverse;
      top: 0;
      left: 150px;
    }

    .main {
      clear: both;
      position: absolute;
      text-align: left;
      top: 100px;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .gsc-resultsRoot gsc-tabData gsc-tabdActive{
      max-height: 1100px !important;
    }
  
    .main__top{
      position: absolute;
      left: 10px;
      width: 500px;
      height: 40px;
      padding-top: 10px;
    }

    .main__wrapper {
      padding: 30px 180px 10px 10px;
    }

    .page__footer {
      position: absolute;
      top: 1900px;
      left: 0;
      right: 0;
      bottom: 0;
      
    }
    
  }

  /* @media all and (max-width: 649px) {
    .header{
      background-color: yellow;
      display: flex;
      font-size: 12px;
      height: 300px;
      width: 100%;
    }

    .page__header {
      flex-flow: wrap;
    }
    
    .header__image-wrapper {
      display: flex;
      width: 150px;
      height: 37px;
      left: 400px;
      justify-content: center;
      align-items: flex-start;
      padding: 4px 20px 0 8px;
    }
  } 
  
  /* @media all and (max-width: 480px) {
    .main__image-wrapper > img {
      height: 72px;
    }
  }
  
  @media all and (max-width: 483px) {
    .footer__menu:first-child {
        display: none;
    }
  }
  
  @media all and (max-width: 319px) {
    .page__footer {
      margin-top: 26px;
      position: relative;
    }
  }
  
  @media all and (max-height: 514px) {
    .page__footer {
      margin-top: 26px;
      position: relative;
    }

  } */

