*:not(svg) {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }
  
  .page {
    min-width: 320px;
  }

/* header */
.page__header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 6px;
}

.header {
  display: flex;
  font-size: 13px;
  align-items: center;
  height: 69px;
}

.page__header {
  justify-content: space-between;
  padding: 6px 8px 6px 15px;
}

.header__image-wrapper {
    display: flex;
    width: 150px;
    height: 37px;
    align-items: center;
    padding: 4px 20px 0 8px;

  }

.header__logo{
    display: block;
    width: 90px;
    height: 30px;
}

  .button {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 32px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  .button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .button--primary {
    background: #1a73e8;
    border: 1px solid transparent;
    color: white;
  }
  
  .button--primary:hover {
    background: #2b7de9;
    color: white;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
      0 1px 3px 1px rgba(66, 133, 244, 0.15);
  }
  
  
  .header__sign-in-wrapper {
    display: flex;
  }
  
  .header__app-icon {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
  }
  
  .header__app-icon:hover {
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 100%;
  }
  
  .header__link {
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .header__button {
    margin: 0 8px;
    padding: 0 23px;
  }

/* main */
.main {
  position: absolute;
  text-align: left;
  top: 64px;  
  left: 0;
  right: 0;
  }
  
  .main__wrapper {
    padding: 10px 4px 10px 4px;
  }



/* Footer */

.footer page__footer{
  position: absolute;
}
  
.footer__country {
    display: flex;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    background-color: #f2f2f2;
  }
  
  .footer__menu-wrapper {
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    background-color: #f2f2f2;
    justify-content: space-between;
  }
  
  .footer__menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer__link {
    padding: 15px;
  }
  
  .footer__link .link {
    color: rgba(0, 0, 0, 0.54);
  }

  .gcsc-branding-img-noclear{
      display: none;
  }
  
  .page__footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

